.results {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  margin: 10px;
}

.mat-card-image {
  height: 250px;
  width: 250px;
  margin-bottom: 0;
}
