<div class="container">
  <app-search (queryEmitter)="queryChange($event)"></app-search>
  <mat-chip-list aria-label="Search History">
    <mat-chip
      *ngFor="let history of searchHistory; let i = index"
      [removable]="true"
      (removed)="removeHistory(i)"
      (click)="getFromHistory(history)"
      >{{ history }} <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
  <div style="height: 20px;">
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate" style="margin-top: 10px;"></mat-progress-bar>
  </div>
  <app-results
    *ngIf="resultData && resultData.stat === 'ok'"
    [photos]="resultData.photos"
  ></app-results>
</div>
