<div class="container">
  <app-search (queryEmitter)="queryChange($event)"></app-search>
  <mat-chip-list aria-label="Search History">
    <mat-chip
      *ngFor="let history of searchHistory; let i = index"
      [removable]="true"
      (removed)="removeHistory(i)"
      >{{ history }} <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
  <app-results
    *ngIf="resultData && resultData.stat === 'ok'"
    [photos]="resultData.photos"
  ></app-results>
</div>
